<footer class="main-footer">
            <div class="auto-container">
               <!--Widgets Section-->
               <div class="widgets-section">
                  <div class="row clearfix">
                     <!--Footer Column-->
                     <div class="footer-column col-lg-4 col-md-6 col-sm-12">
                        <div class="footer-widget logo-widget">
                           <div class="logo">
                              <a href="/"><img src="images/footer-logo.png" alt="" /></a>
                           </div>
                           <div class="text">
                              <p>MotoExpert - Auto Repair & Service has 18+ years of experience with providing wide range of specialty services, We involved in servicing...</p>
                              <p>MotoExpert - Auto Repair & Service has 18+ years of experience with providing wide range of specialty services, We involved in servicing...</p>
                           </div>
                        </div>
                     </div>
                     <!--Footer Column-->
                     <div class="footer-column col-lg-4 col-md-6 col-sm-12">
                        <div class="footer-widget info-widget">
                           <!-- Social Widget -->
                           <div class="social-widget">
                              <h2>follow <span class="theme_color">us</span></h2>
                              <div class="text">Fightin' the system like a true modern day Robin Hood Space.</div>
                              <ul class="social-icon-one">
                                 <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                 <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                 <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                 <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                              </ul>
                           </div>
                           <!-- Contact Widget -->
                           <div class="contact-widget">
                              <h2>follow <span class="theme_color">us</span></h2>
                              <ul class="contact-list">
                                 <li><span class="icon flaticon-phone-call"></span><a href="tel:(+01)-123-456-7890">(+01) 999 999 9999</a></li>
                                 <li><span class="icon flaticon-email"></span><a href="mailto:info@maxcars.com">info@motoexperts.com</a></li>
                                 <li><span class="icon flaticon-placeholder"></span>121, King St, Melbourne VIC 3000, Australia.</li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <!--Footer Column-->
                     <div class="footer-column col-lg-4 col-md-6 col-sm-12">
                        <div class="footer-widget last-widget">
                           <!-- Newsletter Widget -->
                           <div class="newsletter-widget">
                              <h2>Our <span class="theme_color">NewsLetter</span></h2>
                              <div class="newsletter-form">
                                 <form method="post" action="contact.html">
                                    <div class="form-group">
                                       <input type="email" name="email" value="" placeholder="Email" required="">
                                    </div>
                                    <div class="form-group">
                                       <button type="submit" class="theme-btn btn-style-one"><span class="txt">SUBSCRIBE</span></button>
                                    </div>
                                 </form>
                              </div>
                           </div>
                           <!-- Timing Widget -->
                           <div class="timing-widget">
                              <h2>opening <span class="theme_color">hours</span></h2>
                              <ul class="timing-list">
                                 <li>Monday - Wednesday : 9:00 am to 7:00 pm</li>
                                 <li>Thursday - Friday : 8:00 am to 6:00 pm</li>
                                 <li>Saturday : 8:00 am to 2:00 pm</li>
                                 <li>Sunday : Holiday</li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!--Footer Bottom-->
            <div class="footer-bottom">
               <div class="auto-container">
                  <div class="row clearfix">
                     <div class="column col-lg-6 col-md-12 col-sm-12">
                        <div class="copyright">CopyRights &copy; 2019 Noor_tech All Rights Reserved</div>
                     </div>
                     <div class="column col-lg-6 col-md-12 col-sm-12">
                        <ul class="footer-nav">
                           <li><a href="#">Home</a></li>
                           <li><a href="#">ABOUT US</a></li>
                           <li><a href="#">CAR BRANDS</a></li>
                           <li><a href="#">SERVICES</a></li>
                           <li><a href="#">PRICING</a></li>
                           <li><a href="#">CONTACT</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </footer>