
      <div class="page-wrapper">
         <!-- Preloader -->
         <div class="preloader"><span class="icon"><img src="images/icons/preloader.svg" alt="" /></span></div>
         <!-- Main Header / Header Style Two-->
         
         <!--End Main Header -->
         <!--Page Title-->
         <section class="page-title" style="background-image:url(images/background/1.jpg)">
            <div class="auto-container">
               <h1>About Us</h1>
               <ul class="page-breadcrumb">
                  <li><a href="index.html">home</a></li>
                  <li>About</li>
               </ul>
            </div>
         </section>
         <!--End Page Title-->
         <!-- About Section-->
         <section class="about-section">
            <div class="auto-container">
               <div class="row clearfix">
                  <div class="column col-lg-8 col-md-12 col-sm-12">
                     <div class="row clearfix">
                        <div class="col-md-6 col-sm-5 col-xs-12">
                           <figure class="image-box wow slideInLeft" data-wow-duration="1500ms" data-wow-delay="0ms"><img src="images/resource/about.png" alt="" /></figure>
                        </div>
                        <div class="col-md-6 col-sm-7 col-xs-12">
                           <div class="inner-content">
                              <div class="year">
                                 Since 1975
                              </div>
                              <h2>More About Us</h2>
                              <div class="text">
                                 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum been sidue industry's standard.</p>
                                 <p>We offer a wide range of hydraulic cartridge valves, customized hydraulic integrated manifolds and valves for hydraulic breaking systems.</p>
                              </div>
                              <ul class="list-style-two">
                                 <li>Professional car cleaning</li>
                                 <li>Monthly car inspections</li>
                                 <li>Creating new car assets and wheels</li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="column col-lg-4 col-md-12 col-sm-12">
                     <div class="about-block">
                        <figure class="image wow fadeIn" data-wow-duration="1500ms" data-wow-delay="0ms">
                           <a href="about.html"><img src="images/resource/about-blog.jpg" alt="" /></a>
                        </figure>
                        <div class="lower-box">
                           <h3>Company History</h3>
                           <p>We work with clients big and small across a range of sectors and we utilise all forms of media to get your name out there in a way that’s right for you. We have a number of different teams.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- End About Section-->
         <!--Counter Section-->
         <section class="counter-section" style="background-image:url(images/background/1.jpg);">
            <div class="auto-container">
               <div class="fact-counter">
                  <div class="row clearfix">
                     <!--Column-->
                     <div class="column counter-column col-lg-3 col-md-6 col-sm-12">
                        <div class="inner">
                           <div class="content">
                              <div class="count-outer count-box">
                                 <div class="icon-box"><span class="icon fa fa-car"></span></div>
                                 <span class="count-text" data-speed="2500" data-stop="1724">0</span>
                              </div>
                              <h5 class="counter-title">Projects Completed</h5>
                           </div>
                        </div>
                     </div>
                     <!--Column-->
                     <div class="column counter-column col-lg-3 col-md-6 col-sm-12">
                        <div class="inner">
                           <div class="content">
                              <div class="count-outer count-box">
                                 <div class="icon-box"><span class="icon fa fa-user"></span></div>
                                 <span class="count-text" data-speed="3000" data-stop="3685">0</span>
                              </div>
                              <h5 class="counter-title">Satisfied Customers</h5>
                           </div>
                        </div>
                     </div>
                     <!--Column-->
                     <div class="column counter-column col-lg-3 col-md-6 col-sm-12">
                        <div class="inner">
                           <div class="content">
                              <div class="count-outer count-box">
                                 <div class="icon-box"><span class="icon fa fa-users"></span></div>
                                 <span class="count-text" data-speed="3000" data-stop="295">0</span>+
                              </div>
                              <h5 class="counter-title">Experts Reviews</h5>
                           </div>
                        </div>
                     </div>
                     <!--Column-->
                     <div class="column counter-column col-lg-3 col-md-6 col-sm-12">
                        <div class="inner">
                           <div class="content">
                              <div class="count-outer count-box">
                                 <div class="icon-box"><span class="icon flaticon-exam"></span></div>
                                 <span class="count-text" data-speed="3000" data-stop="7">0</span>
                              </div>
                              <h5 class="counter-title">Certification Hold</h5>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!--End Counter Section-->
         <!-- Why Us Section -->
         <section class="why-us-section">
            <div class="auto-container">
               <!-- Features Tab -->
               <div class="feature-tabs tabs-box">
                  <div class="row clearfix">
                     <div class="content-column pull-right col-lg-7 col-md-12 col-sm-12">
                        <!--Tabs Container-->
                        <div class="tabs-content">
                           <!--Tab / Active Tab-->
                           <div class="tab" id="feature-tab-1">
                              <div class="inner-box">
                                 <span class="title">Why Choose Us?</span>
                                 <h2>Talented workers.</h2>
                                 <p>Locutus est tibi?  … Anedum Gale, nedum Victoris … Respondeo dicendum esset iustus? Quæ? Quem populum? Mensis abhinc Gus occidere vellet uterque. Et nunc, utatur LAB et trahit vos de … quae … a socio gunman? A lenta guy? Numquid aliquo tibi Et dicit quod videt te. Qualis est is lascivio venatus. Putat quod surdus es? Non potest vere putes quod oblitoquod pertinet ad omne nefas et qui.</p>
                                 <p>Suus satis. Quod etiam optime. Vos ite post eum, fistulae, nunquam vivum exire ab ea. Sed cum hoc … excidit tibi in cibo aut in potu, aut: olefac Elegantioris non sit … triginta sex horae post … Poof. Vir aetatis operantes, dura sicut facit … nemo mirabatur. </p>
                                 <ul class="list-style-two">
                                    <li>Engineered to high standards</li>
                                    <li>Assured high quality and dependability</li>
                                    <li>Tested under extreme conditions</li>
                                 </ul>
                                 <a href="#" class="theme-btn btn-style-one"><span class="txt">What Client Said</span></a>
                              </div>
                           </div>
                           <!--Tab -->
                           <div class="tab active-tab" id="feature-tab-2">
                              <div class="inner-box">
                                 <span class="title">Why Choose Us?</span>
                                 <h2>Modron Workshop.</h2>
                                 <p>Locutus est tibi?  … Anedum Gale, nedum Victoris … Respondeo dicendum esset iustus? Quæ? Quem populum? Mensis abhinc Gus occidere vellet uterque. Et nunc, utatur LAB et trahit vos de … quae … a socio gunman? A lenta guy? Numquid aliquo tibi Et dicit quod videt te. Qualis est is lascivio venatus. Putat quod surdus es? Non potest vere putes quod oblitoquod pertinet ad omne nefas et qui.</p>
                                 <p>Suus satis. Quod etiam optime. Vos ite post eum, fistulae, nunquam vivum exire ab ea. Sed cum hoc … excidit tibi in cibo aut in potu, aut: olefac Elegantioris non sit … triginta sex horae post … Poof. Vir aetatis operantes, dura sicut facit … nemo mirabatur. </p>
                                 <ul class="list-style-two">
                                    <li>Engineered to high standards</li>
                                    <li>Assured high quality and dependability</li>
                                    <li>Tested under extreme conditions</li>
                                 </ul>
                                 <a href="#" class="theme-btn btn-style-one"><span class="txt">What Client Said</span></a>
                              </div>
                           </div>
                           <!--Tab -->
                           <div class="tab" id="feature-tab-3">
                              <div class="inner-box">
                                 <span class="title">Why Choose Us?</span>
                                 <h2>Leading auto specialist.</h2>
                                 <p>Locutus est tibi?  … Anedum Gale, nedum Victoris … Respondeo dicendum esset iustus? Quæ? Quem populum? Mensis abhinc Gus occidere vellet uterque. Et nunc, utatur LAB et trahit vos de … quae … a socio gunman? A lenta guy? Numquid aliquo tibi Et dicit quod videt te. Qualis est is lascivio venatus. Putat quod surdus es? Non potest vere putes quod oblitoquod pertinet ad omne nefas et qui.</p>
                                 <p>Suus satis. Quod etiam optime. Vos ite post eum, fistulae, nunquam vivum exire ab ea. Sed cum hoc … excidit tibi in cibo aut in potu, aut: olefac Elegantioris non sit … triginta sex horae post … Poof. Vir aetatis operantes, dura sicut facit … nemo mirabatur. </p>
                                 <ul class="list-style-two">
                                    <li>Engineered to high standards</li>
                                    <li>Assured high quality and dependability</li>
                                    <li>Tested under extreme conditions</li>
                                 </ul>
                                 <a href="#" class="theme-btn btn-style-one"><span class="txt">What Client Said</span></a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="btn-column col-lg-5 col-md-12 col-sm-12">
                        <!--Tab Btns-->
                        <ul class="tab-btns tab-buttons clearfix">
                           <li data-tab="#feature-tab-1" class="tab-btn">
                              <div class="icon-box"><span class="flaticon-settings-2"></span></div>
                              <h3>Modron Workshop</h3>
                              <p>Suus satis. Quod etiam optime. Vos ite post eum, fistulae, nunquam … </p>
                           </li>
                           <li data-tab="#feature-tab-2" class="tab-btn active-btn">
                              <div class="icon-box"><span class="flaticon-gear"></span></div>
                              <h3>Talented workers</h3>
                              <p>Suus satis. Quod etiam optime. Vos ite post eum, fistulae, nunquam … </p>
                           </li>
                           <li data-tab="#feature-tab-3" class="tab-btn ">
                              <div class="icon-box"><span class="flaticon-conveyor"></span></div>
                              <h3>Leading auto specialist</h3>
                              <p>Suus satis. Quod etiam optime. Vos ite post eum, fistulae, nunquam … </p>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- End Why Us Section -->
         <!--Sponsors Section-->
         <section class="clients-section">
            <div class="auto-container">
               <div class="sponsors-outer">
                  <!--Sponsors Carousel-->
                  <ul class="sponsors-carousel owl-carousel owl-theme">
                     <li class="slide-item">
                        <figure class="image-box"><a href="#"><img src="images/clients/6.png" alt=""></a></figure>
                     </li>
                     <li class="slide-item">
                        <figure class="image-box"><a href="#"><img src="images/clients/7.png" alt=""></a></figure>
                     </li>
                     <li class="slide-item">
                        <figure class="image-box"><a href="#"><img src="images/clients/8.png" alt=""></a></figure>
                     </li>
                     <li class="slide-item">
                        <figure class="image-box"><a href="#"><img src="images/clients/9.png" alt=""></a></figure>
                     </li>
                     <li class="slide-item">
                        <figure class="image-box"><a href="#"><img src="images/clients/10.png" alt=""></a></figure>
                     </li>
                     <li class="slide-item">
                        <figure class="image-box"><a href="#"><img src="images/clients/6.png" alt=""></a></figure>
                     </li>
                     <li class="slide-item">
                        <figure class="image-box"><a href="#"><img src="images/clients/7.png" alt=""></a></figure>
                     </li>
                     <li class="slide-item">
                        <figure class="image-box"><a href="#"><img src="images/clients/8.png" alt=""></a></figure>
                     </li>
                  </ul>
               </div>
            </div>
         </section>
         <!--End Sponsors Section-->
         <!--Main Footer-->
         <footer class="main-footer">
            <div class="auto-container">
               <!--Widgets Section-->
               <div class="widgets-section">
                  <div class="row clearfix">
                     <!--Footer Column-->
                     <div class="footer-column col-lg-4 col-md-6 col-sm-12">
                        <div class="footer-widget logo-widget">
                           <div class="logo">
                              <a href="index.html"><img src="images/footer-logo.png" alt="" /></a>
                           </div>
                           <div class="text">
                              <p>MotoExpert - Auto Repair & Service has 18+ years of experience with providing wide range of specialty services, We involved in servicing...</p>
                              <p>MotoExpert - Auto Repair & Service has 18+ years of experience with providing wide range of specialty services, We involved in servicing...</p>
                           </div>
                        </div>
                     </div>
                     <!--Footer Column-->
                     <div class="footer-column col-lg-4 col-md-6 col-sm-12">
                        <div class="footer-widget info-widget">
                           <!-- Social Widget -->
                           <div class="social-widget">
                              <h2>follow <span class="theme_color">us</span></h2>
                              <div class="text">Fightin' the system like a true modern day Robin Hood Space.</div>
                              <ul class="social-icon-one">
                                 <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                 <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                 <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                                 <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                              </ul>
                           </div>
                           <!-- Contact Widget -->
                           <div class="contact-widget">
                              <h2>follow <span class="theme_color">us</span></h2>
                              <ul class="contact-list">
                                 <li><span class="icon flaticon-phone-call"></span><a href="tel:(+01)-123-456-7890">(+01) 999 999 9999</a></li>
                                 <li><span class="icon flaticon-email"></span><a href="mailto:info@maxcars.com">info@motoexperts.com</a></li>
                                 <li><span class="icon flaticon-placeholder"></span>121, King St, Melbourne VIC 3000, Australia.</li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <!--Footer Column-->
                     <div class="footer-column col-lg-4 col-md-6 col-sm-12">
                        <div class="footer-widget last-widget">
                           <!-- Newsletter Widget -->
                           <div class="newsletter-widget">
                              <h2>Our <span class="theme_color">NewsLetter</span></h2>
                              <div class="newsletter-form">
                                 <form method="post" action="contact.html">
                                    <div class="form-group">
                                       <input type="email" name="email" value="" placeholder="Email" required="">
                                    </div>
                                    <div class="form-group">
                                       <button type="submit" class="theme-btn btn-style-one"><span class="txt">SUBSCRIBE</span></button>
                                    </div>
                                 </form>
                              </div>
                           </div>
                           <!-- Timing Widget -->
                           <div class="timing-widget">
                              <h2>opening <span class="theme_color">hours</span></h2>
                              <ul class="timing-list">
                                 <li>Monday - Wednesday : 9:00 am to 7:00 pm</li>
                                 <li>Thursday - Friday : 8:00 am to 6:00 pm</li>
                                 <li>Saturday : 8:00 am to 2:00 pm</li>
                                 <li>Sunday : Holiday</li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!--Footer Bottom-->
            <div class="footer-bottom">
               <div class="auto-container">
                  <div class="row clearfix">
                     <div class="column col-lg-6 col-md-12 col-sm-12">
                        <div class="copyright">CopyRights &copy; 2019 Noor_tech All Rights Reserved</div>
                     </div>
                     <div class="column col-lg-6 col-md-12 col-sm-12">
                        <ul class="footer-nav">
                           <li><a href="#">Home</a></li>
                           <li><a href="#">ABOUT US</a></li>
                           <li><a href="#">CAR BRANDS</a></li>
                           <li><a href="#">SERVICES</a></li>
                           <li><a href="#">PRICING</a></li>
                           <li><a href="#">CONTACT</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </footer>
      </div>
    
